<center>
  <div class="jumbotron">
    <h1>PasteRunner</h1>
    <br>
    <p>PasteRunner is an open-source, tool to execute code snippets on the fly developed by <a href="https://tejas.io">Tejas Manohar</a>. <br>If you would like to contribute, please submit a pull request on <a target="_blank" href="https://github.com/tejasmanohar/pasterunner/pulls">Github</a>.</p>
  </div>
</center>
