<center>
  <h1>PasteRunner
    <br><small><br></small>
    <small>Execute code snippets on the fly</small>
  </h1>
  <form role="search" action="/search">
    <input name="url" type="text" class="form-control" id="url" placeholder="Gist/Pastebin URL">
    <button type="submit" class="btn btn-default" id="submit">Submit</button>
  </form>
</center>
